* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background: #0aa3ff;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	padding: 15px;
	background: white;
	border: 6px solid #3ec0ff;
	-webkit-box-shadow: 0px 9px 10px -2px #2f84ac;
	        box-shadow: 0px 9px 10px -2px #2f84ac;
	border: 6px solid #316680;
	-webkit-animation: float .5s infinite alternate ease-in-out;
	        animation: float .5s infinite alternate ease-in-out;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	min-width: 300px;
}

.title {
	color: #0aa3ff;
	font-weight: bold;
	font-family: Ubuntu;
	font-size: 34px;
	font-family: Roboto;
	text-align: center;
}

@-webkit-keyframes float {
	0% {
		-webkit-box-shadow: 0px 9px 10px -2px #0a1a22a8;
		        box-shadow: 0px 9px 10px -2px #0a1a22a8;
		-webkit-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
	}

	100% {
		-webkit-box-shadow: 10px 19px 10px -2px #0c1c246b;
		        box-shadow: 10px 19px 10px -2px #0c1c246b;
		-webkit-transform: translate(-50%,-65%);
		        transform: translate(-50%,-65%);
	}
}

@keyframes float {
	0% {
		-webkit-box-shadow: 0px 9px 10px -2px #0a1a22a8;
		        box-shadow: 0px 9px 10px -2px #0a1a22a8;
		-webkit-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
	}

	100% {
		-webkit-box-shadow: 10px 19px 10px -2px #0c1c246b;
		        box-shadow: 10px 19px 10px -2px #0c1c246b;
		-webkit-transform: translate(-50%,-65%);
		        transform: translate(-50%,-65%);
	}
}
